.theme-container.custom-page-class
  pre
    padding 16px
    overflow auto
    font-size 85%
    line-height 1.45
    color #1F2328
    background #f6f8fa
    border-radius 6px


.sidebar
  width 22rem